<h3>Mon profil</h3>
<div class="form-group">
  <label class="control-label">Nom</label>
  <p class="form-control-static">{{data.nom}}</p>
</div>
<div class="form-group">
  <label class="control-label">Email</label>
  <p class="form-control-static">{{data.email}}</p>
</div>
<div class="form-group">
  <label class="control-label">Age</label>
  <p class="form-control-static">{{data.age}}</p>
</div>
<div class="form-group">
  <label class="control-label">Famille</label>
  <p class="form-control-static">{{data.famille}}</p>
</div>
<div class="form-group">
  <label class="control-label">Race</label>
  <p class="form-control-static">{{data.race}}</p>
</div>
<div class="form-group">
  <label class="control-label">Nourriture</label>
  <p class="form-control-static">{{data.nourriture}}</p>
</div>
